@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import "~bootstrap/scss/bootstrap";

$main-app-theme-color:#01B980;
$text-color:#828282;
$grey-color-1:#E0E0E0;
$grey-color-2:#FCFCFC;
$font-family:Nunito;
$red:#EB5757;
$purple:#9B51E0;
$orange:#F2994A;
$green:#56CCF2;
$black:#333333;
$yellow:#F2C94C;